<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Zencoder - PaperClip - S3</title>
	<meta name="author" content="Adam Singer">
	
	<%= javascript_include_tag "string_extensions","jquery-1.4.min","json2","facebox","application","humane_date" %>
	<%= stylesheet_link_tag "application.css","awesome_buttons","facebox" %>
	
	<%= yield(:head) %>
</head>
<body>

	<%= yield %>

</body>
</html>
